include README.md
include LICENSE
include pyproject.toml

recursive-include pptagent/prompts *.txt
recursive-include pptagent/roles *.yaml
recursive-include pptagent/resource *.png
recursive-include pptagent/templates *.txt *.json *.pptx

recursive-include deeppresenter/roles *.yaml
recursive-include deeppresenter/html2pptx *.js *.json
include deeppresenter/config.yaml.example
include deeppresenter/mcp.json.example
include deeppresenter/serve.sh
