[
    {
        "name": "any2markdown",
        "description": "File conversion tools",
        "command": "python3",
        "args": [
            "$PACKAGE_DIR/tools/any2markdown.py"
        ],
        "env": {
            "MINERU_API_KEY": "your_mineru_api_key_here"
        }
    },
    {
        "name": "task",
        "description": "Task management tools",
        "command": "python3",
        "args": [
            "$PACKAGE_DIR/tools/task.py"
        ]
    },
    {
        "name": "deeppresenter",
        "description": "Artifact inspection tools for deeppresenter",
        "command": "python3",
        "args": [
            "$PACKAGE_DIR/tools/reflect.py"
        ]
    },
    {
        "name": "pptagent",
        "description": "template-based generation for PPTAgent",
        "command": "pptagent-mcp",
        "env": {
            "CONFIG_FILE": "$CONFIG_FILE"
        }
    },
    {
        "name": "tool_agents",
        "description": "LLM-powered tool agents",
        "command": "python3",
        "args": [
            "$PACKAGE_DIR/tools/tool_agents.py"
        ]
    },
    {
        "name": "search",
        "description": "Web search tools",
        "command": "python3",
        "args": [
            "$PACKAGE_DIR/tools/search.py"
        ],
        "env": {
            "TAVILY_API_KEY": "your_tavily_api_key_here",
            "SERPAPI_KEY": "your_seriapi_api_key_here"
        },
        "network": true
    },
    {
        "name": "sandbox",
        "description": "An agent sandbox developed on https://github.com/wonderwhy-er/DesktopCommanderMCP",
        "command": "docker",
        "args": [
            "run",
            "--init",
            "--name",
            "$WORKSPACE_ID",
            "-i",
            "--rm",
            "-v",
            "$HOST_WORKSPACE:$WORKSPACE",
            "-w",
            "$WORKSPACE",
            "deeppresenter-sandbox"
        ]
    }
]
